.main-nav {
  margin: 0 auto;
  width: @mobile-width;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }
}

.main-nav__logo {
  display: flex;
  font-size: 12px;
  line-height: 0;
  color: @base-black;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

.main-nav__logo-image {
  margin: 12px 20px;

  @media (min-width: @tablet-width) {
    width: 82px;
    margin: 22px 66px 22px 20px;
  }
}

.main-nav__logo-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
