.social {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 2px 20px 12px;
  border-bottom: 1px solid @base-secondary;

  @media (min-width: @tablet-width) {
    border: none;
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

.social__logo {
  display: block;
  margin: 10px 37px 10px 0;
  line-height: 0;
  text-decoration: none;
  color: @base-black;

  @media (min-width: @desktop-width) {
    margin: 0 0 40px;
  }

  &:focus {
    outline: none;
  }
}

.social__logo-image {
  @media (min-width: @tablet-width) {
    width: 170px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 10px;
  }
}

.social__logo-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

.social__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.social__link {
  display: block;
  width: 22px;
  height: 22px;
  padding: 10px;
  color: @base-gray;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    margin: 10px;
  }

  &:hover,
  &:focus {
    outline: none;
    color: @base-primary;
    background-color: @base-secondary;
  }

  &:active {
    color: @base-primary;
    background-color: @primary-opacity;
  }
}
